<div class="table-responsive shadow-sm rounded">
  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(product => { %>
        <tr>
          <td class="fw-semibold"><%= product._id %></td>
          <td><%= product._name %></td>
          <td class="text-muted"><%= product._desc %></td>
          <td class="text-success fw-bold">
            $<%= Number(product._prise).toFixed(2) %>
          </td>
          <td>
            <img
              src="<%= product._imageUrl %>"
              alt="Image of <%= product._name %>"
              class="img-thumbnail"
              style="width: 80px; height: 80px; object-fit: cover;"
            />
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
